export MIX_PORT="${MIX_PORT:-4000}"
export TIDEWAVE_PORT="${TIDEWAVE_PORT:-4001}"
export LIVE_DEBUGGER_PORT="${LIVE_DEBUGGER_PORT:-4002}"
export TEST_PORT="${TEST_PORT:-${LIVE_DEBUGGER_PORT}}"
export PORT="${PORT:-${MIX_PORT}}"

export OLLAMA_BASE_URL=http://localhost:11434

export LEMMINGS_WORK_AREAS_PATH="~/.lemmings/workspace"
export LEMMINGS_ARTIFACT_STORAGE_ROOT="~/.lemmings/storage"

export LEMMINGS_GOTENBERG_URL="http://127.0.0.1:3000"

[ -f .envrc.custom ] && source .envrc.custom
