export MIX_PORT="${MIX_PORT:-4000}"
export TIDEWAVE_PORT="${TIDEWAVE_PORT:-4001}"
export LIVE_DEBUGGER_PORT="${LIVE_DEBUGGER_PORT:-4002}"
export TEST_PORT="${TEST_PORT:-${LIVE_DEBUGGER_PORT}}"
export PORT="${PORT:-${MIX_PORT}}"

[ -f .envrc.custom ] && source .envrc.custom
