<Layouts.app
  flash={@flash}
  current_scope={@current_scope}
  page_key={@page_key}
  page_title={@page_title}
  summary={@summary}
>
  <WorldComponents.cities_page cities={@cities} selected_city={@selected_city} />
</Layouts.app>
