<Layouts.app
  flash={@flash}
  current_scope={@current_scope}
  page_key={@page_key}
  page_title={@page_title}
  shell_user={@shell_user}
  shell_host={@shell_host}
  shell_breadcrumb={@shell_breadcrumb}
  summary={@summary}
>
  <LemmingComponents.create_lemming_page
    form={@form}
    selected_tools={@selected_tools}
    available_tools={@available_tools}
  />
</Layouts.app>
