<Layouts.app
  flash={@flash}
  current_scope={@current_scope}
  page_key={@page_key}
  page_title={@page_title}
  shell_user={@shell_user}
  shell_host={@shell_host}
  shell_breadcrumb={@shell_breadcrumb}
  summary={@summary}
>
  <LemmingComponents.create_lemming_page
    form={@form}
    scope_form={@scope_form}
    world={@world}
    city={@city}
    department={@department}
    cities={@cities}
    departments={@departments}
  />
</Layouts.app>
