<Layouts.app
  flash={@flash}
  current_scope={@current_scope}
  page_key={@page_key}
  page_title={@page_title}
  summary={@summary}
>
  <WorldComponents.departments_page
    departments={@departments}
    selected_department={@selected_department}
  />
</Layouts.app>
