<Layouts.app
  flash={@flash}
  current_scope={@current_scope}
  page_key={@page_key}
  page_title={@page_title}
  summary={@summary}
>
  <HomeComponents.home_page
    summary={@summary}
    cities={@cities}
    departments={@departments}
    lemmings={@lemmings}
    activity_log={@activity_log}
  />
</Layouts.app>
