<Layouts.app
  flash={@flash}
  current_scope={@current_scope}
  page_key={@page_key}
  page_title={@page_title}
  shell_user={@shell_user}
  shell_host={@shell_host}
  shell_breadcrumb={@shell_breadcrumb}
  summary={@summary}
>
  <LemmingComponents.lemmings_page
    lemmings={@lemmings}
    selected_lemming={@selected_lemming}
  />
</Layouts.app>
