<Layouts.app
  flash={@flash}
  current_scope={@current_scope}
  page_key={@page_key}
  page_title={@page_title}
  summary={@summary}
>
  <SystemComponents.settings_page form={@form} />
</Layouts.app>
