<Layouts.app
  flash={@flash}
  current_scope={@current_scope}
  page_key={@page_key}
  page_title={@page_title}
  summary={@summary}
>
  <WorldComponents.world_page
    summary={@summary}
    cities={@cities}
    departments={@departments}
    lemmings={@lemmings}
  />
</Layouts.app>
